<h1>Fetch film! - team Bréguet</h1>

<!-- <form action="/create" method="POST">
	<%#= token_tag %> 
	<label>film</label>
	<input type="text" name="film">
	<input type="submit" name="envoie">
</form> -->


<!--     <form>
      <%#= form_for :film, url: 'create' do |f| %>
      <div class="">
        <%#= f.text_field :title %>
      </div>
      <div class="">
        <%#= f.submit "Create", name: nil %>
      </div>
      <%# end %>
    </form> -->


<form class="form-inline" action="/create" method="POST">
  <%= token_tag %> 
  <label class="sr-only">Film</label>
  <input type="text" class="form-control mb-2 mr-sm-2" name="film" placeholder="film">

<!--   <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">@</div>
    </div>
    <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
  </div>

  <div class="form-check mb-2 mr-sm-2">
    <input class="form-check-input" type="checkbox" id="inlineFormCheck">
    <label class="form-check-label" for="inlineFormCheck">
      Remember me
    </label>
  </div> -->

  <button type="submit" class="btn btn-primary mb-2">J'ai de la chance!</button>
</form>
